<%inherit file="/base.html"/>

<%block name="content">
<div class="container">
  <br/>
  <div  data-ip="10.0.1.109" id="chart1_demo" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
  <br/>
  <div data-ip="10.0.1.220" id="chart2_demo" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
  <br/>
  <div data-ip="10.0.1.188" id="chart3_demo" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
</div>
</%block>

<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>


<script type="text/javascript">

    function createEStandLineChart(conf) {

        var ip = $('#'+conf.selector.toString()).data().ip
        var myChart = echarts.init(document.getElementById(conf.selector));
        var legendData = []
        var myDate = new Date();


        for (var i = 0; i < conf.data.series.length; i++) {
            legendData.push(conf.data.series[i].name)
        }

        myChart.setOption({
            title: {
                text: myDate.toLocaleDateString() +" | Host：" +ip+" | CPU Usage Chart",
                x: 'center',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                y: 'bottom',
                data: legendData
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['bar', 'line']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: conf.data.xAxis
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    splitArea: {show: true}
                }
            ],
            series: conf.data.series
        });
    }

    function initEStandLineChart(conf) {
        $.ajax({
            url: conf.url,
            type: 'GET',
            dataType: conf.dataType,
            success: function (res) {
                //获取数据成功
                if (res.result) {
                    createEStandLineChart({
                        selector: conf.containerId, // 图表容器
                        data: res.data, // 图表数据
                    });
                }
            }
        })
    }

    $(function () {

    initEStandLineChart({
        url: site_url + 'get_cpu_statistics/?ip=10.0.1.109',
        dataType: 'json',
        containerId: 'chart1_demo'
    });
    initEStandLineChart({
        url: site_url + 'get_cpu_statistics/?ip=10.0.1.220',
        dataType: 'json',
        containerId: 'chart2_demo'
    });

    initEStandLineChart({
        url: site_url + 'get_cpu_statistics/?ip=10.0.1.188',
        dataType: 'json',
        containerId: 'chart3_demo'
    });

    })
    ;
</script>